# ! 不上传到github的文件
# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini
# vscode settings
.vscode

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.zip

# model
*.tar
*.pth

#image png
*.png

# folder
data
output
ori_output
a_output
output1
save_model
test1
CFG_output
test_CFG
runs
save_model_s